// Cores
$cor-c10: #2C2C2E;
$cor-c9: #3D3D40;
$cor-c8: #565659;
$cor-c7: #6C6C71;
$cor-c6: #96969C;
$cor-c5: #ABACB2;
$cor-c4: #C4C4CC;
$cor-c3: #D5D5DE;
$cor-c2: #E3E4ED;
$cor-c1: #EDEDF7;
$cor-c0: #F5F5FF;

$cor-p5: #00022C;
$cor-p4: #0D0F3E;
$cor-p3: #1F2260;
$cor-p2: #343891;
$cor-p1: #41449D;

$cor-gd: linear-gradient(180deg, #6568B8 0%, #3B3E8A 100%);

// Espaçamento
$espaçamento: 4px;

